language: php

env:
  global:
    - TASK_TESTS_COVERAGE=0

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

matrix:
  fast_finish: true
  include:
    - php: nightly
    - php: 7.2
    - php: 7.1
      env: TASK_TESTS_COVERAGE=1
    - php: 7.0
    - php: 5.6
    - php: 5.5

  allow_failures:
    - php: nightly

install:
  - composer install --prefer-dist --no-interaction --no-progress --optimize-autoloader

before_script:
  - |
    if [ $TASK_TESTS_COVERAGE == 1 ] ; then
      PHPUNIT_FLAGS="--coverage-clover=coverage.clover"
    fi

script:
  - vendor/bin/phpunit --verbose $PHPUNIT_FLAGS

after_script:
  - |
    if [ $TASK_TESTS_COVERAGE == 1 ] ; then
      wget https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover coverage.clover
    fi